<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="sensor_kit_macro" params="parent x y z roll pitch yaw">

    <xacro:arg name="config_dir" default="$(find whill_sensor_kit_description)/config"/>
    <xacro:arg name="gpu" default="false"/>

    <xacro:property name="sensor_kit_base_link" default="sensor_kit_base_link"/>

    <joint name="${sensor_kit_base_link}_joint" type="fixed">
      <origin rpy="${roll} ${pitch} ${yaw}" xyz="${x} ${y} ${z}"/>
      <parent link="${parent}"/>
      <child link="${sensor_kit_base_link}"/>
    </joint>
    <link name="${sensor_kit_base_link}">
      <origin ryp="0 0 0" xyz="0 0 0"/>
    </link>

    <!-- sensor -->
    <xacro:include filename="$(find pandar_description)/urdf/pandar_xt32.xacro"/>
    <xacro:include filename="$(find camera_description)/urdf/monocular_camera.xacro"/>
    <xacro:property name="calibration" value="${xacro.load_yaml('$(arg config_dir)/sensor_kit_calibration.yaml')}"/>
    <!-- camera -->
    <xacro:monocular_camera_macro
      name="camera"
      parent="sensor_kit_base_link"
      namespace=""
      x="${calibration['sensor_kit_base_link']['camera_link']['x']}"
      y="${calibration['sensor_kit_base_link']['camera_link']['y']}"
      z="${calibration['sensor_kit_base_link']['camera_link']['z']}"
      roll="${calibration['sensor_kit_base_link']['camera_link']['roll']}"
      pitch="${calibration['sensor_kit_base_link']['camera_link']['pitch']}"
      yaw="${calibration['sensor_kit_base_link']['camera_link']['yaw']}"
      fps="30"
      width="800"
      height="400"
      fov="1.3"
    />
    <!-- lidar -->
    <xacro:PandarXT-32
      name="xt32_top"
      parent="sensor_kit_base_link"
      x="${calibration['sensor_kit_base_link']['xt32_top_base_link']['x']}"
      y="${calibration['sensor_kit_base_link']['xt32_top_base_link']['y']}"
      z="${calibration['sensor_kit_base_link']['xt32_top_base_link']['z']}"
      roll="${calibration['sensor_kit_base_link']['xt32_top_base_link']['roll']}"
      pitch="${calibration['sensor_kit_base_link']['xt32_top_base_link']['pitch']}"
      yaw="${calibration['sensor_kit_base_link']['xt32_top_base_link']['yaw']}"
    />
  </xacro:macro>
</robot>
